* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "ROBOTO", sans-serif;
    cursor: url("../img/cursor-taylor.cur"), auto;
    
    
  }
  
  .nav{
   background-image: url("https://pbs.twimg.com/media/Fm7_ZZGXEBUFD3P?format=jpg&name=large") !important;
   background-position: center;
   background-repeat: no-repeat;
   
   
 }

  .nav,
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #ffffff;
    text-align: center;
   width: 100%;
    padding: 0 2em;
    
  }
  
  .nav #titulo-taylor,
  .slider #titulo-taylor {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #566fa8;
    
    transition: all 0.3s ease;
    z-index: 3;
  }


 

  #titulo-taylor:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
  }

  
  
  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight:bolder;
    color: #faebd7 !important;
    z-index: 4;
  }
  h3.span {
    font-size: 2vw !important;
    letter-spacing: 0.7em !important;
    font-family: "ROBOTO", sans-serif !important;
    font-weight: 800 !important;
    color: #faebd7 !important;
    z-index: 4 !important;
  }
  span:hover {
    color: #ff0266 !important;
    font-weight: 800 !important;
    font-size: 2.8vw !important;
  }
  
  a {
    text-decoration: none !important;
  }
  
  .nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    min-width: 100%;
    height: 75px;
    background: #1e1f26;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}


.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

  
  .nav-container--top-second {
    position: fixed;
    top: 0;
  }
  .nav-tab {
    background-color:#293149;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
  }
  
  .nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
  }
  
  .nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ff0266;
    transition: left 0.3s ease;
  }
  
  .background {
    position: absolute;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
  }
  @media (min-width: 800px) {
    .nav #titulo-taylor,
    .slider #titulo-taylor {
      font-size: 5vw;
    }
  
    .nav h2,
    .slider h2 {
      font-size: 3vw;
    }
  
    .nav-tab {
      font-size: 3vw;
    }
  }
  
  @media (min-width: 360px) {
    .nav #titulo-taylor,
    .slider #titulo-taylor {
      font-size: 8vw;
    }
  
    .nav h2,
    .slider h2 {
      font-size: 2vw;
      letter-spacing: 0.2vw;
    }
  
    .nav-tab {
      font-size: 1.2vw;
    }
  }
  .background {
   
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  .loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    animation: loading 1s ease-in-out infinite alternate;
  }
  
  @keyframes loading {
    to {
      text-shadow: 20px 0 70px #ff0266;
      color: #ff0266;
    }
  }
  .loader span:nth-child(2) {
    animation-delay: 0.1s !important;
  }
  .loader span:nth-child(3) {
    animation-delay: 0.2s !important;
  }
  .loader span:nth-child(4) {
    animation-delay: 0.3s !important;
  }
  .loader span:nth-child(5) {
    animation-delay: 0.4s !important;
  }
  .loader span:nth-child(6) {
   animation-delay: 0.5s !important;
  }
  .loader span:nth-child(7) {
    animation-delay: 0.6s !important;
  }
  .loader span:nth-child(8) {
    animation-delay: 0.7s !important;
  }
  .loader span:nth-child(9) {
    animation-delay: 0.8s !important;
  }
  
  .loader span:nth-child(10) {
    animation-delay: 0.9s !important;
  }
  .loader span:nth-child(11) {
    animation-delay: 1s !important;
  }
  .loader span:nth-child(12) {
    animation-delay: 1.1s !important;
  }
  .loader span:nth-child(13) {
    animation-delay: 1.2s !important;
  }
  .loader span:nth-child(14) {
    animation-delay: 1.3s !important;
  }
  .loader span:nth-child(15) {
    animation-delay: 1.4s !important;
  }
  .loader span:nth-child(16) {
    animation-delay: 1.5s !important;
  }
  .loader span:nth-child(17) {
    animation-delay: 1.6s !important;
  }
  .loader span:nth-child(18) {
    animation-delay: 1.7s !important;
  }
  .loader span:nth-child(19) {
    animation-delay: 1.8s !important;
  }
  .loader span:nth-child(20) {
    animation-delay: 1.9s !important;
  }
  .loader span:nth-child(21) {
    animation-delay: 2s !important;
  }
  .loader span:nth-child(22) {
    animation-delay: 2.1s !important;
  }
  